{% extends "../_layout.html" %}
{% block content %}

<h3><a href="/board/qna/list">Q&A</a></h3>
<table>
    <thead>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>조회수</td>
            <td>추천수</td>
        </tr>
    </thead>
    <tbody>
        <!-- template : boardList -->
    </tbody>
</table>
<a href="/board/qna/write">글쓰기</a>
<div id="pagination">
    <button id="prevBtn">👈</button>
    <div id="pageBtnDiv">
        <!-- template : pageList -->
    </div>
    <button id="nextBtn">👉</button>
</div>

<template id="boardList">
    <tr>
        <td>{num}</td>
        <td><a href="/board/qna/view/{idx}">{title}</a></td>
        <td>{nickname}</td>
        <td>{date}</td>
        <td>{view}</td>
        <td>{likes}</td>
    </tr>
</template>

<template id="pageList">
    <button class="pNum">{pNum}</button>
</template>

<script type="text/javascript" src="../../../js/board/qnalist.js"></script>
{% endblock %}