{% extends "../_layout.html" %}
{% block content %}

<h3><a href="/board/qna/list">Q&A</a></h3>
<table>
    <thead>
        <tr>
            <td class="idx">번호</td>
            <td class="title">제목</td>
            <td class="nickname">작성자</td>
            <td class="date">작성일</td>
            <td class="view">조회수</td>
            <td class="likes">추천수</td>
        </tr>
    </thead>
    <tbody>
        <!-- template : boardList -->
    </tbody>
</table>
<div id="pagination">
    <button class="pBtn" id="prevBtn">«</button>
    <div id="pageBtnDiv">
        <!-- template : pageList -->
    </div>
    <button class="pBtn" id="nextBtn">»</button>
</div>
<div id="writeBtnDiv"><a href="/board/qna/write">글쓰기</a></div>

<template id="boardList">
    <tr>
        <td>{num}</td>
        <td class="title"><a href="/board/qna/view/{idx}">{title}</a></td>
        <td>{nickname}</td>
        <td>{date}</td>
        <td>{view}</td>
        <td>{likes}</td>
    </tr>
</template>
<template id="boardList2">
    <tr>
        <td>{num}</td>
        <td class="title">↳ <span class="answer">답변</span> <a href="/board/qna/view/{idx}">{title}</a></td>
        <td>{nickname}</td>
        <td>{date}</td>
        <td>{view}</td>
        <td>{likes}</td>
    </tr>
</template>

<template id="pageList">
    <button class="pNum pBtn">{pNum}</button>
</template>

<script type="text/javascript" src="../../../js/board/qnaList.js"></script>
{% endblock %}