{% extends "./admin_layout.html" %}
{% block content %}
<div id="adminWrap">
    <h1>관리자 페이지</h1>
    <ul>
        <li>
            <form method="get" action="" id="manageUser">
                <button type="submit">회원 관리</button>
            </form>
        </li>
        <li>
            <form method="get" action="" id="manageCg">
                <button type="submit">카테고리 관리</button>
            </form>
        </li>
        <li>
            <form method="get" action="" id="manageBoard">
                <button type="submit">게시물 관리</button>
            </form>
        </li>
    </ul>

    <div id="adminContent" class="adminContents">
        <div id="userList">
            <ul></ul>
        </div>
        <div id="userInfo">
            <div>
                <ul id="userInfoUl"></ul>
                <ul id="userImgUl"></ul>
            </div>
        </div>
    </div>

    <div id="adminContent2" class="adminContents off">
        <ul id="commentUl">
        </ul>
        <div id="commentForm">
            <div id="inputDiv">
                <input type="text" name="mainInput" id="mainInput" placeholder="카테고리명">
                <input type="text" name="m_urlInput" id="m_urlInput" placeholder="카테고리URL">
            </div>
            <div id="comBtnDiv">
                <!-- <button id="cancelBtn">취소</button> -->
                <button id="commentBtn">입력</button>
            </div>
        </div>
    </div>

    <div id="adminContent3" class="adminContents off">
        <div id="boardList">
        </div>
        <div id="likesList">
        </div>
        <div id="viewList">
        </div>
    </div>
</div>

<!-- Template -->
<template id="userListTemp">
    <li class="useridList">
        <span>{userid}</span>
        <input type="hidden" value="{userid}" id="useridInput">
    </li>
</template>

<template id="userInfoTemp">
    <li>
        <div>
            <span>아이디 : </span>
            <span>{userid}</span>
        </div>
    </li>
    <li>
        <div>
            <span>비밀번호 : </span>
            <span>{userpw}</span>
        </div>
    </li>
    <li>
        <div>
            <span>이름 : </span>
            <span>{name}</span>
        </div>
    </li>
    <li>
        <div>
            <span>닉네임 : </span>
            <span>{nickname}</span>
        </div>
    </li>
    <li>
        <div>
            <span>주소 : </span>
            <span>{address}</span>
        </div>
    </li>
    <li>
        <div>
            <span>성별 : </span>
            <span>{gender}</span>
        </div>
    </li>
    <li>
        <div>
            <span>휴대전화 : </span>
            <span>{mobile}</span>
        </div>
    </li>
    <li>
        <div>
            <span>전화 : </span>
            <span>{phone}</span>
        </div>
    </li>
    <li>
        <div>
            <span>이메일 : </span>
            <span>{email}</span>
        </div>
    </li>
    <li>
        <div>
            <span>포인트 : </span>
            <span id="pointInfo">{point}</span>
        </div>
    </li>
    <li>
        <form method="post" action="" id="pointForm">
            <p>
                <input type="hidden" value="{userid}" name="userid" id="apiUserid">
                <input type="text" name="point" id="userPoint" placeholder="지급할 포인트를 입력하세요" style="width: 250px; height: 30px;">
                <button type="submit">포인트 지급</button>
            </p>
        </form>
    </li>
</template>

<template id="userImgTemp">
    <li>
        <div></div>
    </li>
    <li>
        <div>
            <span>자기소개</span>
            <span>{bio}</span>
        </div>
    </li>
</template>

<!-- <template id="boardListTemp">
    <tr>
        <td>{idx}</td>
        <td>{title}</td>
        <td>{nickname}</td>
        <td>{date}</td>
        <td>
            <form class="boardManageForm">
                <select class="selectBox">
                    <option value="1">보이기</option>
                    <option value="0">내리기</option>
                </select>
                <input type="hidden" value="{idx}" class="boardIdx">
                <button type="submit">저장</button>
            </form>
        </td>
    </tr>
</template> -->

<template id="commentTemplate">
    <li class="commentLi">
        <div class="commentDiv2">
            <!-- <span>{idx}</span> -->
            <span class="commentContent">{main}</span>
            <span class="commentContent2">{m_url}</span>
            <!-- <span>{sub}</span>
            <span>{s_url}</span> -->
        </div>
        <div class="emptyDiv"> &nbsp; </div>
        <div class="c_btnDiv">
            <div>
                <input type="hidden" name="idx" value="{idx}" class="idx">
                <button class="comDelBtn btn2">삭제</button>
            </div>
            <div>
                <input type="hidden" name="idx" value="{idx}" class="idx">
                <button class="comUdtBtn btn2">수정</button>
            </div>
            <div>
                <input type="hidden" name="c_userid" value="{c_userid}" class="c_userid">
                <input type="hidden" name="idx" value="{idx}" class="idx">
                <button class="reComBtn btn2">추가</button>
            </div>
        </div>
    </li>
    <li class="reComDiv">
        <div id="commentForm">
            <div id="inputDiv">
                <input type="hidden" name="main" id="main" value="{main}">
                <input type="text" name="subInput" id="subInput" placeholder="서브카테고리명">
                <input type="text" name="s_urlInput" id="s_urlInput" placeholder="서브카테고리URL">
            </div>
            <div id="repBtnDiv">
                <!-- <button id="replyCancelBtn">취소</button> -->
                <button id="replyBtn">입력</button>
            </div>
        </div>
    </li>
</template>

<template id="commentTemplate2">
    <li class="commentLi">
        <div class="emptyDiv"> &nbsp; ➡️ &nbsp; </div>
        <div class="commentDiv2">
            <!-- <span>{idx}</span>
            <span>{main}</span>
            <span>{m_url}</span> -->
            <span class="commentContent">{sub}</span>
            <span class="commentContent2">{s_url}</span>
        </div>
        <div class="c_btnDiv">
            
            <div>
                <input type="hidden" name="idx" value="{idx}" class="idx">
                <button class="comDelBtn btn2">삭제</button>
            </div>
            <div>
                <input type="hidden" name="idx" value="{idx}" class="idx">
                <button class="comUdtBtn btn2">수정</button>
            </div>
        </div>
    </li>
</template>

{% endblock %}
