#main {
    padding: 70px 0;
    background-color: #000000;
}

#main>span {
    margin: 50px;
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
    color: #ffffff;

}

#writeForm {
    display: flex;
    flex-direction: column;
    font-family: 'Do Hyeon', sans-serif;
    width: 80%;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

#boardSelect {
    width: 120px;
    font-size: 15px;
    font-family: 'Do Hyeon', sans-serif;
    padding: 3px 7px;
    margin: 10px 0;
}

#cgSelect {
    width: 120px;
    font-size: 15px;
    font-family: 'Do Hyeon', sans-serif;
    padding: 3px 7px;
    margin: 10px;
}

#title {
    margin: 14px 0;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    padding: 3px 14px;
    height: 40px;
    border: none;
    background: #262223;
    border-bottom: 2px solid rgba(131, 24, 20, 0.7);
    color: #ffffff;
}

#title::placeholder {
    color: #ffffff;
}

#fileInput {
    color: #ffffff;
}

#content {
    all: unset;
    margin-top: 20px;
    height: 50vh;
    font-size: 18px;
    font-family: 'Do Hyeon', sans-serif;
    padding: 7px 14px;
    background: #262223;
    border-bottom: 2px solid rgba(131, 24, 20, 0.7);
    color: #ffffff;
}

#content::placeholder {
    font-size: 18px;
    color: #ffffff;
}

#submitBtn {
    all: unset;
    margin-top: 20px;
    padding: 7px 14px;
    width: 50px;
    height: fit-content;
    background: #831814;
    color: #ffffff;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}

#contentView {
    width: 80%;
    min-height: 50vh;
    font-size: 15px;
    font-family: 'Do Hyeon', sans-serif;
    padding: 7px 14px;
    background: #000000;
    border-bottom: 2px solid rgba(131, 24, 20, 0.7);
    color: #ffffff;
}

#btnDiv {
    width: 80%;
    display: flex;
}

.btn {
    all: unset;
    padding: 7px 14px;
    height: fit-content;
    background: #831814;
    color: #ffffff;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
}

#hashtag {
    margin-top: 30px;
    width: 100%;
    /* border: 2px solid #831814; */
    padding: 10px;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.ht {
    margin: 0 10px;
    background-color: rgba(131, 24, 20, 0.7);
    color: #ffffff;
    padding: 7px 10px;
    border-radius: 5px;
}