#main {
    padding: 70px 0;
}

#main > span {
    margin: 50px;
    font-size: 30px;
    font-family: 'Song Myung', serif;

}

#writeForm {
    display: flex;
    flex-direction: column;
    font-family: 'Song Myung', serif;
    width: 80%;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

#boardSelect {
    width: 120px;
    font-size: 15px;
    font-family: 'Song Myung', serif;
    padding: 3px 7px;
    margin: 10px 0;
}

#cgSelect {
    width: 120px;
    font-size: 15px;
    font-family: 'Song Myung', serif;
    padding: 3px 7px;
    margin: 10px;
}

#title {
    margin: 14px 0;
    font-size: 20px;
    font-family: 'Song Myung', serif;
    padding: 3px 14px;
    height: 40px;
    border: none;
    background: #DDC6B6;
    border-bottom: 2px solid rgba(38, 34, 35, 0.5);
}

#content {
    all: unset;
    height: 50vh;
    font-size: 15px;
    font-family: 'Song Myung', serif;
    padding: 7px 14px;
    background: #DDC6B6;
    border: 2px solid rgba(38, 34, 35, 0.5);
}

#submitBtn {
    all : unset;
    margin-top: 20px;
    padding: 7px 14px;
    width: 50px;
    height: fit-content;
    background: #262223;
    color: #ffffff;
    font-family: 'Song Myung', serif;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}

#contentView {
    width: 80%;
    min-height: 50vh;
    font-size: 15px;
    font-family: 'Song Myung', serif;
    padding: 7px 14px;
    background: #DDC6B6;
    border: 2px solid rgba(38, 34, 35, 0.5);
}

#btnDiv {
    width: 80%;
    display: flex;
}

.btn {
    all: unset;
    padding: 7px 14px;
    height: fit-content;
    background: #262223;
    color: #ffffff;
    font-family: 'Song Myung', serif;
    font-size: 12px;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
}

#hashtag {
    margin-top: 30px;
    width: 100%;
    border: 2px solid #262223;
    padding: 10px;
}

.ht {
    margin: 10px;
    background-color: rgba(38, 34, 35, 0.3);
    color: #ffffff;
    padding: 7px 10px;
    border-radius: 5px;
}
