#main>h3 {
    margin: 50px;
}

#main>h3>a {
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
    color: #ffffff;
}

#main>table {
    width: 80%;
    border-collapse: collapse;
    font-family: 'Do Hyeon', sans-serif;
}

#main>table>thead {
    margin-bottom: 100px;
}

#main>table>thead>tr>td {
    background-color: rgba(131, 24, 20, 0.7);
    text-align: center;
    height: 30px;
    padding: 14px 14px;
    font-size: 14px;
    color: #ffffff;
}

.idx {
    width: 60px;
}

.nickname {
    width: 80px;
}

.date {
    width: 100px;
}

.view {
    width: 80px;
}

.likes {
    width: 80px;
}

#main>table>tbody>tr>td {
    border-bottom: 0.5px solid rgba(200, 200, 200, 0.5);
    text-align: center;
    height: 30px;
    padding: 7px 14px;
    font-size: 12px;
    color: #ffffff;
}

#main>table>tbody>tr>.title {
    text-align: left;
    padding-left: 30px;
}

#main>table>tbody>tr>.title>a {
    color: #ffffff;
}

#pagination {
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#writeBtnDiv {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

#writeBtnDiv>a {
    padding: 7px 14px;
    height: fit-content;
    background: #831814;
    color: #ffffff;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

#pageBtnDiv {
    display: flex;
    justify-content: space-around;
}

.pBtn {
    all: unset;
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 13px;
    background: rgba(38, 34, 35, 0.5);
    font-size: 15px;
    color: #ffffff;
    margin: 0 5px;
    font-family: 'Do Hyeon', sans-serif;
    line-height: 26px;
    cursor: pointer;
}

#nextBtn {
    margin: 0 15px;
    line-height: 26px;
    cursor: pointer;
}

#prevBtn {
    margin: 0 15px;
    line-height: 26px;
    cursor: pointer;
}

.answer {
    padding: 3px 5px;
    background: rgba(131, 24, 20, 0.7);
    color: #ffffff;
    border-radius: 5px;
    margin: 0 10px;
}