#main {
    background: #262223;
}

#main > h3 {
    margin: 50px;
}

#main > h3 > a {
    font-size: 30px;
    font-family: 'Song Myung', serif;
    color: #DDC6B6;
}


#boardUl {
    width: 80vw;
}

.boardLi {
    width: 300px;
    height: 400px;
    margin: 20px;
    background: #DDC6B6;
    float: left;
    border-radius: 10px;
}

/* boardLi 배치 => 반응형으로 크기 별 갯수 넣기... */



/* paging */
#pagination {
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#writeBtnDiv {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

#writeBtnDiv > a {
    padding: 7px 14px;
    height: fit-content;
    background: #DDC6B6;
    color: #000000;
    font-family: 'Song Myung', serif;
    font-size: 12px;
    border-radius: 5px;
}

#pageBtnDiv {
    display: flex;
    justify-content: space-around;
}
.pBtn {
    all : unset;
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 13px;
    background:  rgba(38, 34, 35, 0.5);
    font-size: 15px;
    color: #ffffff;
    margin: 0 5px;
    font-family: 'Song Myung', serif;
    line-height: 26px;
    cursor: pointer;
}

#nextBtn {
    margin: 0 15px;
    line-height: 26px;
    cursor: pointer;
}

#prevBtn {
    margin: 0 15px;
    line-height: 26px;
    cursor: pointer;
}