#main {
    background-image: url('http://localhost:4001/uploads/viewNoPic.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#background {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#background>#info {
    font-family: 'Do Hyeon', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background>#info>#cg {
    border-bottom: 3px solid #831814;
}

#background>#info>#title {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 6em;
    color: #bebebe;
}

#mainContent {
    width: 100%;
    padding: 100px 0;
    min-height: 100vh;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    width: 70vw;
    min-height: 50vh;
    color: #bebebe;
    font-size: 24px;
    font-family: 'Do Hyeon', sans-serif;
    border-top: 3px solid #831814;
    border-bottom: 3px solid #831814;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btnDiv {
    width: 70vw;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-top: 40px;
}

.btn {
    all: unset;
    padding: 7px 14px;
    height: fit-content;
    background: #bebebe;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    margin: 3px 10px;
    cursor: pointer;
}



/* 댓글 CSS */
#comment {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-bottom: 3px solid #831814;
}

#commentCount {
    width: 100%;
    color: #ffffff;
    font-family: 'Do Hyeon', sans-serif;
    margin-top: 20px;
}

#commentForm {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#commentForm>#inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#commentForm>#inputDiv>#commentInput {
    all: unset;
    width: 90%;
    padding: 7px 14px;
    margin: 10px 0;
    border-bottom: 2px solid #bebebe;
    color: #bebebe;
    font-family: 'Do Hyeon', sans-serif;

}

#comBtnDiv {
    display: none;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}

#cancelBtn {
    all: unset;
    padding: 7px 14px;
    height: fit-content;
    color: #bebebe;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

#cancelBtn:hover {
    background: #bebebe;
    color: #000000;
}

#commentBtn {
    all: unset;
    padding: 7px 14px;
    height: fit-content;
    color: #bebebe;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

#commentBtn:hover {
    background: #bebebe;
    color: #000000;
}


/* 댓글리스트 */
#commentUl {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#commentUl>.commentLi {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

#commentUl>.commentLi>div>.c_nickname {
    padding: 2px 5px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    color: #bebebe;
    border-bottom: 2px solid #831814;
}

#commentUl>.commentLi>div>.c_date {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    color: #bebebe;
}

#commentUl>.commentLi>div>.commentContent {
    margin-top: 10px;
    padding: 7px 14px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    color: #bebebe;
}

#commentUl>.commentLi>.c_btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn2 {
    all: unset;
    padding: 5px 7px;
    height: fit-content;
    background: #bebebe;
    color: #000000;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    margin: 3px 10px;
    cursor: pointer;
}

.reComDiv {
    display: none;
}

#repBtnDiv {
    display: none;
}

.commentDiv2 {
    width: 85%;
}


#imgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

img {
    width: 50%;
    margin: 30px 0;
}

#htTitle {
    margin-right: 20px;
    padding: 7px 14px;
    color: #831814;
    position: relative;
    top: 5px;
}

.htSpan {
    padding: 7px 14px;
    background: #bebebe;
    color: #000000;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 14px;
}



#reComDiv {
    width: 60vw;
}

#commentForm {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#commentForm>#inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

#commentForm>#inputDiv>#replyInput {
    all: unset;
    width: 90%;
    padding: 7px 14px;
    margin: 10px 0;
    border-bottom: 2px solid #bebebe;
    color: #bebebe;
    font-family: 'Do Hyeon', sans-serif;

}

#repBtnDiv {
    display: none;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}

#replyCancelBtn {
    all: unset;
    padding: 7px 14px;
    height: fit-content;
    color: #bebebe;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

#replyCancelBtn:hover {
    background: #bebebe;
    color: #000000;
}

#replyBtn {
    all: unset;
    padding: 7px 14px;
    height: fit-content;
    color: #bebebe;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

#replyBtn:hover {
    background: #bebebe;
    color: #000000;
}


.cngCom {
    all: unset;
    width: 90%;
    padding: 7px 14px;
    margin: 10px 0;
    border-bottom: 2px solid #bebebe;
    color: #bebebe;
    font-family: 'Do Hyeon', sans-serif;

}

.cngBtn {
    all: unset;
    padding: 7px 14px;
    height: fit-content;
    color: #bebebe;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.cngBtn:hover {
    background: #bebebe;
    color: #000000;
}

.nick {
    color: #ffffff;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 22px;
    justify-self: flex-start;
    position: relative;
}

.WriteNickname {

    top: 45px;
    left: -30vw;
    color: #777777;
}