*{margin: 0; padding: 0; box-sizing: border-box; font-weight: 400;}
ul,li{list-style: none;}
a{text-decoration: none; color: #000;}

#wrap{
    width: 100%;
    min-height: 100vh;
}

#header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #262223;
    position: fixed;
}

/* 헤더메뉴 */

#header > h1 > a {
    color: #DDC6B6;
    font-family: 'Black Han Sans', sans-serif;
}

#header > #menu {
    position: absolute;
    top: 60px;
}

#navi-flag {
    display: none;
}

#navi-flag + #hamburger{
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 2;

}

#navi-flag + #hamburger > #hbgdiv {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #262223;
}

#navi-flag:checked + #hamburger > #hbgdiv {
    background: #DDC6B6;
    z-index: 2;
}

#navi-flag + #hamburger + #navimenu {
    display: none;
    position: fixed;
    left: 0px;
    top: -30vh;
    background: #262223;
    width: 100%;
    height: 30vh;
    transition: all 2s;

}

#navi-flag:checked + #hamburger + #navimenu {
    background: #262223;
    top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1;
}

#navimenu > li{
    display: block;
    width: 33%;
}

#navimenu > li > h3 > a{
    display: block;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 28px;
    color: #ffffff;
    padding-bottom: 20px;
}

#navimenu > li > ul > li > a{
    display: block;
    font-family: "HDM";
    font-size: 18px;
    color: #B4B4B4;
    padding-top: 20px;
}



#main {
    padding: 70px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DDC6B6;
}

