* {
    box-sizing: border-box;
}

#profile {
    margin-top: 40px;
    width: 50vw;
    height: 60vh;
}

#profile>.profile_up {
    display: flex;
    width: 60vw;
    height: 50vh;
}

#profile>.profile_down {
    width: 60vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

#profile>.profile_up>#profile_left {
    width: 30vw;
    height: 50vh;
    /* color: white; */


}

#profile>.profile_up>#profile_right {
    width: 30vw;
    height: 50vh;
    color: white;

}

#profile>.profile_down {
    margin-top: 100px;
}


#profile>.profile_down>.link {
    width: 10vw;
    height: 20vh;
    color: white;
}

#profile>.profile_up>#profile_left>#u_photo {
    width: 30vw;
    height: 35vh;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile>.profile_up>#profile_left>#u_bio {
    width: 400px;
    height: 300px;
    margin-left: 100px;
    margin-top: 30px;
    color: white;
}


.img {
    object-fit: cover;
    object-position: center center;
    width: 15vw;
    height: 15vw;
    border-radius: 7.5vw;
}


#profile>.profile_up>#profile_right>li {
    width: 30vw;
    height: 5vh;
    color: white;
}

#profile_down {
    width: 200px;
    height: 150px;
    color: white;
}

#profile_down>.link {
    width: 200px;
    height: 150px;
}

#profile_down>.link>a {
    width: 50px;
    height: 50px;
    color: white;
}


.img_box {
    width: 100%;
    height: 100%;
    margin-left: 100px;
    overflow: hidden;

}

#user_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


button {
    margin: 20px;
}

#link_btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

#link_btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

#link_btn.non_btn {
    background-color: #ececec;
    color: black;
    line-height: 40px;
    text-align: center;
}

#link_btn:hover {
    color: white;
    background-color: #831814;
    border-color: #831814;
}

#mylink_btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

#mylink_btn.non_btn {
    background-color: #ececec;
    color: black;
    line-height: 40px;
    text-align: center;
}

#mylink_btn:hover {
    color: white;
    background-color: #831814;
    border-color: #831814;
}

#quit_btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #831814;

}

#quit_btn.non_btn {
    background-color: white;
    color: white;
    line-height: 40px;
    text-align: center;
}

#quit_btn:hover {
    color: white;
    background-color: gray;
    border-color: #831814;
}

#quit {
    margin-top: 20px;
}