* {
    font-family: 'Do Hyeon', sans-serif;
}




#update_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1100px;
    padding-bottom: 50px;
    box-sizing: border-box;
}


#update_list>li {
    width: 100%;
    display: flex;
    flex-direction: column;
}


#update_list>li>label {
    color: white;
}

#update_list>li>input {
    width: 100%;
    height: 40px;
    border: 1px solid #ececec;
    padding: 0 15px;
    font-size: 18px;
    outline-color: black;
    border-radius: 8px;
    box-sizing: border-box;
}

.mobile_input {
    width: 100%;
    height: 40px;
    border: 1px solid #ececec;
    padding: 0 15px;
    font-size: 18px;
    outline-color: black;
    border-radius: 8px;
    box-sizing: border-box;
}

.phone_input {
    width: 100%;
    height: 40px;
    border: 1px solid #ececec;
    padding: 0 15px;
    font-size: 18px;
    outline-color: black;
    border-radius: 8px;
    box-sizing: border-box;
}

.mobile_input {
    width: 150px;
}

.phone_input {
    width: 150px;
}

#update_list>li>#nick_input>input {
    width: 100%;
    height: 40px;
    border: 1px solid #ececec;
    padding: 0 15px;
    font-size: 18px;
    outline-color: black;
    border-radius: 8px;
    box-sizing: border-box;
}

#update_list>li>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#up #update_list>li>div>input {
    height: 40px;
    border: 1px solid #ececec;
    padding: 0 15px;
    font-size: 18px;
    outline-color: black;
    border-radius: 8px;
}


#update_submit_btn {
    width: 100%;
    height: 40px;
}



#nickname_check_btn {
    width: 113px;
    font-size: 17px;
    color: white;
    background-color: gray;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}


#update_btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}


#update_btn {
    width: 113px;
    font-size: 17px;
    color: white;
    background-color: gray;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

#update_btn.non_btn {
    background-color: #ececec;
    color: black;
    line-height: 40px;
    text-align: center;
}

#update_btn:hover {
    color: white;
    background-color: #831814;
    border-color: #831814;
}

#btn {
    align-items: center;
}

#profile_img {
    color: white;
}