{% extends "./_layout.html" %}
{% block content %}

<h3 id="boardCg"><a href="{link}">{cgName}</a></h3>
<ul id="boardUl">
    <!-- 임시데이터 -->
    <li class="boardLi">
        <div class="listImg"><img src="{listImg}" alt=""></div>
        <!-- axios로 img 가져오기 -->
        <div>
            <p><a class="title" href="/board/main/{idx}">글제목</a><button class="likesBtn">❤️</button></p>
            <div>
                <div><img src="{profileImg}" alt="">프사</div>
                <span>{nickname}</span>
            </div>
            <div>
                <span>{date}</span>
                <span>view {view}</span>
                <span>like {likes}</span>
            </div>
        </div>
        <div>
            <span>{hstg1}</span>
            <!-- for문으로 3개만  -->
        </div>
    </li>
    <!-- template : boardList -->
</ul>
<div id="pagination">
    <button class="pBtn" id="prevBtn">«</button>
    <div id="pageBtnDiv">
        <!-- 임시 -->
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <!-- template : pageList -->
    </div>
    <button class="pBtn" id="nextBtn">»</button>
</div>
<div id="writeBtnDiv"><a href="/board/main/write">글쓰기</a></div>


<template id="pageList">
    <button class="pNum pBtn">{pNum}</button>
</template>


<template id="boardList">
    <li class="boardLi">
        <a href="/board/main/view/{idx}">
            <div class="listImg"><img src="http://localhost:4001/uploads/{imageName}" alt="">
                
            </div>
            <!-- axios로 img 가져오기 -->
            <div class="li">
                <div class="liInfo">
                    <!-- <span class="num">{num} </span> -->
                    <p class="titleDiv">
                        <a class="title" href="/board/main/view/{idx}">{title}</a>
                    </p>
                    <span class="date">{date} &nbsp;·&nbsp; {nickname}</span>
                    <span class="info">✔️ &nbsp; {view} &nbsp;·&nbsp;❤️  &nbsp; &nbsp;{likes}</span>
                    <div>
                        <span class="hstg">{hstg1}</span>
                        <span class="hstg">{hstg2}</span>
                        <span class="hstg">{hstg3}</span>
                        <span class="hstg">{hstg4}</span>
                        <span class="hstg">{hstg5}</span>
                    </div>
                </div>
                <form class="likeFrm" method="post" action="http://localhost:4001/api/board/main/like">
                    <input type="hidden" class="likeFlag" name="likeFlag" value="{likeFlag}">
                    <input type="hidden" class="idx" name="idx" value={idx}>
                    <input class="likeBtn" class="btn" type="submit" value="{likeEmoji}">
                </form> 
            </div>
        </a>
    </li>
</template>

<script type="text/javascript" src="/js/board/mainList.js"></script>
{% endblock %}