{% extends "./_layout2.html" %}
{% block content %}
<div id="background">
    <div id="info">
        <span id="cg">{{item.main}} {{item.sub}} </span>
        <h1 id="title">{{item.title}}</h1>
        <span id="date">{{item.date}}</span>
        <span id="nickname">by {{item.nickname}}</span>
        <p id="count">조회수 {{item.view}}  ❤️ {{item.likes}}</p>
    </div>
</div>
<div id="mainContent">
    <div id="content">
        {{item.content}}
        <div id="imgDiv">
            {% for img in imgList %}
            <img src="http://localhost:4001/uploads/{{img}}" alt="">
            {% endfor %}
        </div>
        <div>
            <span id="htTitle">TAG</span>
            {% for ht in htList %}
            <span class="htSpan">{{ht}}</span>
            {% endfor %}
        </div>
    </div>
    <div id="btnDiv">
        <a class="btn" href="/board/main/list">목록가기</a>
        <!-- 게시글 작성자 = 로그인한 사용자 일때만 보여줄 부분 -->
        {% if userCheck %}
        <a class="btn" href="/board/main/update/{{item.idx}}">수정</a>
        <form action="http://localhost:4001/api/board/delete" method="post">
            <input type="hidden" name="idx" value="{{item.idx}}">
            <input type="hidden" name="board_name" value="{{item.board_name}}">
            <input class="btn" type="submit" value="삭제">
        </form>
        {% endif %}
        <!--  -->
        <!-- 게시글 좋아요 -->
        <form id="likeFrm" method="post" action="http://localhost:4001/api/board/main/like">
            <input type="hidden" id="likeFlag">
            <input type="hidden" name="l_userid" value="{{userInfo.userid}}">
            <input id="likeBtn" class="btn" type="submit">
        </form>
        <!-- 게시글 스크랩 -->
        <form id="scrapBtn" method="post" action="http://localhost:4001/api/board/main/scrap">
            <input id="idx" type="hidden" name="idx" value="{{item.idx}}">
            <input class="btn" type="submit" value="스크랩">
        </form>
    </div>
    <div id="comment">
        <span id="commentCount">댓글 {commentCount}개</span>
        <!-- 댓글입력 -->
        <div id="commentForm">
            <div id="inputDiv">
                <span>{{user.nickname}}</span>
                <input type="text" name="commentInput" id="commentInput" placeholder="댓글을 입력해주세요.">
                <input type="hidden" id="b_userid" value="{{user.userid}}">
                <input type="hidden" name="parent" value="null">
            </div>
            <div id="comBtnDiv">
                <button id="cancelBtn">취소</button>
                <button id="commentBtn">입력</button>
            </div>
        </div>
        <!-- 댓글 보기 -->
        <ul id="commentUl">
            <!-- template : commentForm -->
        </ul>

    </div>
</div>

<script type="text/javascript" src="/js/board/viewAjax.js"></script>

<template id="commentTemplate">
    <li class="commentLi">
        <div>
            <span class="c_nickname">{nickname}</span>
            <span class="c_date">&nbsp;&nbsp;&nbsp;&nbsp;{c_date}</span>
            <p class="commentContent">{comment}</p>
        </div>
        <div class="c_btnDiv">
            <div>
                <input type="hidden" name="cid" value="{cid}" class="cid">
                <button class="comDelBtn btn2">삭제</button>
            </div>
            <div>
                <input type="hidden" name="cid" value="{cid}" class="cid">
                <button class="comUdtBtn btn2">수정</button>
            </div>
            <div>
                <input type="hidden" name="c_userid" value="{c_userid}" class="c_userid">
                <input type="hidden" name="cid" value="{cid}" class="cid">
                <button class="reComBtn btn2">답글</button>
            </div>
        </div>
    </li>
    <li class="reComDiv">
        <div id="commentForm">
            <div id="inputDiv">
                <span>{{user.nickname}}</span>
                <input type="text" name="commentInput" id="replyInput" placeholder="댓글을 입력해주세요.">
                <input type="hidden" name="parent" value="null">
            </div>
            <div id="repBtnDiv">
                <button id="replyCancelBtn">취소</button>
                <button id="replyBtn">입력</button>
            </div>
        </div>
    </li>
</template>

<template id="commentTemplate2">
    <li class="commentLi">
        <div> &nbsp; </div>
        <div class="commentDiv2">
            <span class="c_nickname">{nickname}</span>
            <span class="c_date">&nbsp;&nbsp;&nbsp;&nbsp;{c_date}</span>
            <p class="commentContent">{comment}</p>
        </div>
        <div class="c_btnDiv">
            
            <div>
                <input type="hidden" name="cid" value="{cid}" class="cid">
                <button class="comDelBtn btn2">삭제</button>
            </div>
            <div>
                <input type="hidden" name="cid" value="{cid}" class="cid">
                <button class="comUdtBtn btn2">수정</button>
            </div>
        </div>
    </li>
</template>

{% endblock %}