{% extends "./_layout.html" %}
{% block content %}
<input type="hidden" value="{{userid}}" id="userInfo">
<table cellspacing="0" cellpadding="0" id="board">
    <thead>
        <tr>
            <th>번호</th>
            <th class="subject">제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<div id="paging">
    <a id="prevBlock">
        << </a>
            <ul>

            </ul>
            <a id="nextBlock"> >> </a>
</div>
<template id="board_row">
    <tr>
        <td>{idx}</td>
        <td>{subject}</td>
        <td>{nickname}</td>
        <td>{date}</td>
    </tr>
</template>



<script type="text/javascript" src="/js/user/mycomment.js"></script>
{% endblock %}