{% extends "./_layout.html" %}
{% block content %}
<div id="update">
    <form method="post" action="http://localhost:4001/api/user/profile/update" id="update_chk">
        <ul id="update_list">
            <li>
                <label for="user_id"> 아이디 : {{user.userid}}
                    <input type="hidden" name="userid" id="user_id" value="{{user.userid}}">
            </li>
            <li>
                <label for="user_pw"> 비밀번호 </label>
                <input type="password" name="userpw" id="user_pw">
            </li>
            <li>
                <label for="user_pwchk"> 비밀번호 확인 </label>
                <input type="password" id="user_pwchk">
            </li>
            <li>
                <label for="user_nickname"> 닉네임</label>
                <div id="nick_input">
                    <input type="text" name="nickname" value="{{user.nickname}}" id="user_nickname">
                    <button type="button" id="nickname_check_btn">
                        중복확인
                    </button>
                </div>
            </li>
            <li>
                <label> 주소</label>
                <input type="text" name="address" value="{{user.address}}" id="user_address">
            </li>
            <li>
                <label> 성별 : {{user.gender}}</label>
            </li>
            <li>
                <label> 핸드폰 :</label>

                <div>
                    <input type="text" class="mobile_input" name="mobile1" id="user_mobile1" maxlength="3"
                        value="{{user.mobile1}}" />
                    <input type="text" class="mobile_input" name="mobile2" id="user_mobile2" maxlength="4"
                        value="{{user.mobile2}}" />
                    <input type="text" class="mobile_input" name="mobile3" id="user_mobile3" maxlength="4"
                        value="{{user.mobile3}}" />
                </div>
            </li>
            <li>
                <label> 집전화 :</label>

                {% if user.phone %}
                <div>
                    <input type="text" class="phone_input" name="phone1" id="user_phone1" maxlength="3"
                        value="{{user.phone1}}" />
                    <input type="text" class="phone_input" name="phone2" id="user_phone2" maxlength="4"
                        value="{{user.phone2}}" />
                    <input type="text" class="phone_input" name="phone3" id="user_phone3" maxlength="4"
                        value="{{user.phone3}}" />
                </div>
                {% else %}
                <div>
                    <input type="text" class="phone_input" name="phone1" id="user_phone1" maxlength="3" />
                    <input type="text" class="phone_input" name="phone2" id="user_phone2" maxlength="4" />
                    <input type="text" class="phone_input" name="phone3" id="user_phone3" maxlength="4" />
                </div>
                {% endif %}

            </li>
            <li>
                <label> email :</label>
                <input type="text" name="email" value="{{user.email}}" id="user_email">
            </li>
            <li>
                <label> 자기소개 :</label>
                <input type="text" name="bio" value="{{user.bio}}" id="user_bio">
            </li>
            <li>
                <label> 포인트 : {{user.point}}</label>
            </li>

            <div id="btn">
                <button id="update_btn" type="submit" value="수정완료">수정</button>

            </div>
    </form>
</div>
</body>
<script type="text/javascript">
    function validate(e) {

        const re = /^[a-zA-Z0-9]{4,12}$/
        const re2 = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

        const userpw = document.getElementById("user_pw");
        const nickname = document.getElementById("user_nickname");
        const address = document.getElementById("user_address");
        const mobile1 = document.getElementById("user_mobile1");
        const mobile2 = document.getElementById("user_mobile2");
        const mobile3 = document.getElementById("user_mobile3");
        const phone1 = document.getElementById("user_phone1");
        const phone2 = document.getElementById("user_phone2");
        const phone3 = document.getElementById("user_phone3");
        const email = document.getElementById("user_email");
        const bio = document.getElementById("user_bio");
        let isCheck = true
        let Alertmsg = ""



        function check(re, what, message) {
            if (re.test(what.value)) {
                return true;
            }
            Alertmsg += message;
            what.value = "";
            what.focus();
        }


        if (!check(re, userpw, "패스워드는 4~12자의 영문 대소문자와 숫자로만 입력")) {
            isCheck = false;
        }

        if (userpw.value != user_pwchk.value) {
            Alertmsg += '비밀번호를 입력해 주세요\n'
            user_pwchk.value = "";
            user_pwchk.focus();
            isCheck = false;
        }

        if (nickname.value == "") {
            Alertmsg += '닉네임을 입력해 주세요\n'
            nickname.focus();
            isCheck = false;
        }

        if (address.value == "") {
            Alertmsg += '주소를 입력해 주세요\n'
            address.focus();
            isCheck = false;
        }


        if (mobile1.value == "") {
            Alertmsg += '번호를 입력해 주세요\n'
            mobile1.focus();
            isCheck = false;
        }
        if (mobile1.value !== "010") {
            Alertmsg += '010으로 시작해 주세요\n'
            mobile1.focus();
            isCheck = false;
        }
        if (mobile2.value == "") {
            Alertmsg += '번호를 입력해 주세요\n'
            mobile2.focus();
            isCheck = false;
        }
        if (mobile3.value == "") {
            Alertmsg += '번호를 입력해 주세요\n'
            mobile3.focus();
            isCheck = false;
        }

        // if (phone.value == "") {
        //     phone.focus()
        // }
        if (phone1.value == "") {
            phone1.focus();
        }

        if (phone2.value == "") {
            phone2.focus();
        }
        if (phone3.value == "") {
            phone3.focus();
        }

        if (email.value == "") {
            Alertmsg += '이메일을 입력해 주세요\n'
            email.focus();
            isCheck = false;
        }

        if (!check(re2, email, "적합하지 않은 이메일 형식입니다.\n")) {
            isCheck = false;
        }

        if (bio.value == "") {
            Alertmsg += '자기소개를 입력해 주세요\n'
            bio.focus();
            isCheck = false;
        }

        if (isCheck) {
            // 로그인 진행
            e.target.submit()
        } else {
            // 로그인 실패 
            alert(Alertmsg)
        }

    }
    const form = document.querySelector('#update_chk')
    // 폼이 제출됐을 때 validate함수를 실행
    form.addEventListener('submit', (e) => {
        e.preventDefault()
        validate(e)
    })

    const nickElement = document.querySelector('#nickname_check_btn')
    nickElement.addEventListener('click', async (e) => {

        e.preventDefault()
        const option = {
            'Content-type': 'application/json',
            withCredentials: true,
        }
        const nickname = document.getElementById('user_nickname').value
        const data = {
            nickname
        }
        const response = await axios.post('http://localhost:4001/api/user/nickchk', data, option) //라우터, 데이터 객체로 넘겨, 옵션 

        if (response.data.er == 0) {
            alert('닉네임을 입력하세요')
        }

        if (response.data.er == 1) {
            alert('사용중인 닉네임입니다.')
        }

        if (response.data.er == 2) {
            alert('사용가능 한 닉네임입니다.')
        }

    })
</script>

{% endblock %}