{% extends "./_layout.html" %}
{% block content %}

<div id="profile">
    <div class="profile_up">
        <ul id="profile_left">
            <li id="u_photo">
                {% if user.uImg %}
                <div id="user_img" class="img_box">
                    <img src="{{user.uImg}}" class="img">
                </div>
                {% else %}
                <span id="user_img"><img src="http://localhost:4001/profile_img/default_profileImg.jpg"></span>
                {% endif %}
            </li>
            <li id="u_bio">
                <span>{{user.bio}}</span>
            </li>
        </ul>
        <ul id="profile_right">
            <li id="u_info">
                <span> 아이디 :</span>
                <span id="user_id">{{user.userid}}</span>
            </li>
            <li>
                <span> 이름 :</span>
                <span> {{user.name}}</span>
            </li>
            <li>
                <span> 닉네임 : </span>
                <span> {{user.nickname}}</span>
            </li>
            <li>
                <span> 주소 :</span>
                <span> {{user.address}} </span>
            </li>
            <li>
                <span> 성별 :</span>
                <span> {{user.gender}}</span>
            </li>
            <li>
                <span> 핸드폰 :</span>
                <span> {{user.mobile}}</span>
            </li>
            <li>
                {% if user.phone %}
                <span> phone :</span>
                <span> {{user.phone}}</span>
                {% else %}
                <span>집전화 :</span>
                <span> 없음</span>
                {% endif %}
            </li>
            <li>
                <span> email :</span>
                <span> {{user.email}}</span>
            </li>

            <li>
                <span> 포인트 :</span>
                <span> {{user.point}}</span>
            </li>
            <div>
                <button id="link_btn"><a href="/">home</a></button>
                <button id="link_btn"><a href="/board/main/list">Board</a></button>
                <button id="link_btn"><a href="/user/profile/update">Edit</a></button>
            </div>
    </div>

    <div class="profile_down">
        <div id="link">
            <button type="button" id="mylink_btn" onclick="location.href='/user/profile/myboard' ">작성 글 보기</button>
            <!-- <a href="/user/profile/myboard">작성한 글 보기</a> -->
        </div>
        <div id="link">
            <button type="button" id="mylink_btn" onclick="location.href='/user/profile/mycomment' ">작성 댓글 보기</button>
            <!-- <a href="/user/profile/mycomment">작성 댓글 보기</a> -->
        </div>
        <div id="link">
            <button type="button" id="mylink_btn" onclick="location.href='/user/profile/myscrap' ">스크랩 보기</button>
            <!-- <a href="/user/profile/myscrap">스크랩 보기</a> -->
        </div>
    </div>
</div>
<!-- <button href="/" id="quit_btn">회원 탈퇴하기</button> -->

<script>
    const quit = document.querySelector('#quit_btn')
    quit.addEventListener('click', async (e) => {
        e.preventDefault()
        const option = {
            'Content-type': 'application/json',
            withCredentials: true,
        }
        const userid = document.getElementById('user_id').innerHTML
        const data = {
            userid
        }
        const response = await axios.post('http://localhost:4001/api/user/quit', data, option) //라우터, 데이터 객체로 넘겨, 옵션 

        alert('회원탈퇴 되었습니다.')
        location.href = "/"
    })
</script>
{% endblock %}