<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Welcome to BNW chatroom!!</h1>
    <div id="roomlist">
        <h2>Open Rooms</h2>
        <ul>
            {% for item in result %}
            <li><a href="javascript:openWindowPop(`http://localhost:3001/chat/room?name={{item.room}}`, `{{item.room}}`)">{{item.room}}</a></li>
            {% endfor %}
        </ul>
    </div>

    <script type="text/javascript" src="/js/chat/popup.js"></script>
</body>
</html>