<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link type="text/css" rel="stylesheet" href="/chat_css/chatRoom.css">
    <script type="text/javascript" src="http://localhost:4001/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/chat/socket.js" defer></script>
</head>
<body>
    <div id="header">
        <h1 id="roomName">Room : {{roomName}}</h1>
        <h3 id="roomCount"></h3>
    </div>
    <div id="firstMsg"></div>
    <div class="chat_wrap">
        <div class="inner" id="chatBox">
            <!-- <div class="item">
                <div class="box">
                    <p class="msg" id="others_msg"></p>
                    <span class="name" id="others_name"></span>
                </div>
            </div>

            <div class="item mymsg">
                <div class="box">
                    <p class="msg" id="my_msg">안녕</p>
                    <span class="name" id="my_name">By YOU</span>
                </div>
            </div> -->
        </div>

        <form id="msgForm">
            <input type="text" placeholder="내용 입력" required>
            <button type="submit" class="w-btn w-btn-blue">Send</button>
        </form>
    </div>
</body>
</html>