{% extends "./_layout.html" %}
{% block content %}
<span>글쓰기</span>
<form action="/board/write" method="post">
    <select name="board_name">
        <option value selected>게시판 선택</option>
        <option value="notice">공지사항</option>
        <option value="qna">Q&A</option>
        <option value="board">게시판</option>
    </select>
    <!-- board db에서 가져오기? -->
    <!-- board/notice/write면 notice에 selected가 가도록 자동 변경하는 식으로 모든 게시판의 글작성 페이지 하나로 통일 -->
    <select name="cg_name">
        <option value selected>카테고리 선택</option>
        <option value="001">MOVIE</option>
        <option value="001001">--review</option>
        <option value="001002">--recommend</option>
        <option value="002">MUSIC</option>
        <option value="002001">--review</option>
        <option value="002002">--recommend</option>
        <option value="003">CARTOON</option>
        <option value="003001">--review</option>
        <option value="003002">--recommend</option>
    </select>
    <!-- 카테고리 셀렉트박스는 게시판항목이 board 일때만 활성화되도록 -->
    <!-- 세부카테고리 지정 없이 메인카테고리만 지정하는 것도 가능 -->
    <input type="text" name="title" value="{{item.title}}">
    <input type="file" name="upload" multiple> 
    <!-- 🔥 수정할 때 기존에 업로드한 파일을 불러오는거 어떤 식으로 하면 될지 모르겠음 -->
    <input type="text" name="content" value="{{item.content}}">
    <!-- file upload 개수는 js로 제어 : upload.files.length였나 아무튼 그걸로 -->
    <input type="submit" value="등록">
</form>
{% endblock %}
