{% extends "./_layout.html" %}
{% block content %}
<span>글쓰기</span>
<form action="http://localhost:4001/api/board/update" method="post" id="writeForm">
    <input type="hidden" name="idx" value="{{item.idx}}">
    <div>
        <select name="board_name" id="boardSelect">
            <option class="boardMenu" value="notice">공지사항</option>
            <option class="boardMenu" value="qna">Q&A</option>
            <option class="boardMenu" value="main">게시판</option>
        </select>
        <!-- board db에서 가져오기? -->
        <!-- board/notice/write면 notice에 selected가 가도록 자동 변경하는 식으로 모든 게시판의 글작성 페이지 하나로 통일 -->
        <select name="cg_idx" id="cgSelect">
        </select>
    </div>
    <!-- 카테고리 셀렉트박스는 게시판항목이 board 일때만 활성화되도록 -->
    <!-- 세부카테고리 지정 없이 메인카테고리만 지정하는 것도 가능 -->
    <input type="text" name="title" id="title" placeholder="제목을 입력하세요" value="{{item.title}}">
    <input id="fileInput" type="file" name="upload" multiple> 
    <textarea name="content" id="content" cols="30" rows="10">{{item.content}}</textarea>
    <!-- file upload 개수는 js로 제어 : upload.files.length였나 아무튼 그걸로 -->
    <input type="hidden" id="parent" name="parent" value=null>
    <!-- qna로 post 시에만 parent인풋에 value로 질문글의 idx 넘어가도록, 그 외에는 value=null -->
    <input id="submitBtn" type="submit" value="등록">
</form>

<input type="hidden" id="updateCg" value="{{item.cg_idx}}">

<template id="cgOption">
    <option class="cgMenu" value="{idx}">{cgName}</option>
</template>


<script type="text/javascript" src="/js/board/boardWrite.js"></script>
{% endblock %}

