{% extends "./_layout.html" %}
{% block content %}
<span>글쓰기</span>
<form action="http://localhost:4001/api/board/write" method="post" id="writeForm" enctype="multipart/form-data">
    <div>
        <select name="board_name" id="boardSelect">
            {% if adminFlag %}
            <option class="boardMenu" value="notice">공지사항</option>
            <option class="boardMenu" value="qna">Q&A</option>
            <option class="boardMenu" value="main">게시판</option>
            {% else %}
            <option class="boardMenu" value="qna">Q&A</option>
            <option class="boardMenu" value="main">게시판</option>
            {% endif %}
        </select>
        <!-- board db에서 가져오기? -->
        <!-- board/notice/write면 notice에 selected가 가도록 자동 변경하는 식으로 모든 게시판의 글작성 페이지 하나로 통일 -->
        <select name="cg_idx" id="cgSelect">
        </select>
    </div>
    <input type="text" name="title" id="title" placeholder="제목을 입력하세요">
    <input id="fileInput" type="file" name="upload" multiple> 
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <div id="hashtag"></div>
    <input type="hidden" id="parent" name="parent" value=null>
    <!-- qna로 post 시에만 parent인풋에 value로 질문글의 idx 넘어가도록, 그 외에는 value=null -->
    <input type="hidden" id="hstg" name="hstg">
    <input id="submitBtn" type="submit" value="등록">
</form>

<template id="cgOption">
    <option value="{idx}">{cgName}</option>
</template>


<script type="text/javascript" src="../../js/board/boardWrite.js"></script>
{% endblock %}
