{% extends "../_layout.html" %}
{% block content %}

<h3><a href="/board/notice/list">NOTICE</a></h3>
<table>
    <thead>
        <tr>
            <td class="idx">번호</td>
            <td class="title">제목</td>
            <td class="nickname">작성자</td>
            <td class="date">작성일</td>
            <td class="view">조회수</td>
        </tr>
    </thead>
    <tbody>
        <!-- 임시 -->
        <tr>
            <td>1</td>
            <td>임시데이터</td>
            <td>admin</td>
            <td>2022-03-22</td>
            <td>0</td>
        </tr>
        <!-- template : boardList -->
    </tbody>
</table>
<div id="pagination">
    <button class="pBtn" id="prevBtn">«</button>
    <div id="pageBtnDiv">
        <!-- 임시 -->
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <!-- template : pageList -->
    </div>
    <button class="pBtn" id="nextBtn">»</button>
</div>
<div id="writeBtnDiv"><a href="/board/notice/write">글쓰기</a></div>

<template id="boardList">
    <tr>
        <td>{num}</td>
        <td class="title"><a href="/board/notice/view/{idx}">{title}</a></td>
        <td>{nickname}</td>
        <td>{date}</td>
        <td>{view}</td>
    </tr>
</template>

<template id="pageList">
    <button class="pNum pBtn">{pNum}</button>
</template>

<script type="text/javascript" src="../../../js/board/noticeList.js"></script>
{% endblock %}