{% extends "../_layout.html" %}
{% block content %}
<h3><a href="/board/notice/list">NOTICE</a></h3>
<table>
    <thead>
        <tr>
            <td class="idx">{{item.idx}}</td>
            <td class="titleView">{{item.title}}</td>
            <td class="nickname">{{item.nickname}}</td>
            <td class="date">{{item.date}}</td>
            <td class="view">{{item.view}}</td>
        </tr>
    </thead>
</table>
<div id="contentView">{{item.content}}</div>
<div id="btnDiv">
    <a class="btn" href="/board/notice/list">목록가기</a>
    {% if userCheck %}
    <a class="btn" href="/board/notice/update/{{item.idx}}">수정</a>
    <form action="http://localhost:4001/api/board/delete" method="post">
        <input type="hidden" name="idx" value="{{item.idx}}">
        <input type="hidden" name="board_name" value="{{item.board_name}}">
        <input class="btn" type="submit" value="삭제">
    </form>
    {% endif %}
</div>
{% endblock %}